[2017-07-24 19:39] mwelling opened #1 "Add a license to the repository"
Here are licenses that I have used:
https://creativecommons.org/licenses/by-sa/4.0/
http://www.ohwr.org/attachments/2388/cern_ohl_v_1_2.txt

Here is a more LGPL like license for hardware if you think it might be better:
https://creativecommons.org/licenses/by/4.0/

The template released by Linaro is licensed using a BSD license:
https://github.com/96boards/96boards-kicad-mezzanine-template/blob/ma

[2017-07-24 20:13] mwelling opened #2 "LiPo Mezzanine"
Pretty self explanatory, a mezz that can charge a lipo and then use the lipo to supply power to the board like in any smartphone. With all the protection circuit etc.
Possibly the connector for charging the lipo being a standard micro usb at 5v
and then users can add their own 3v7 lipo pack to it.

For a mezzanine board I would propose using an Li-ion 18650 as they give good performance and can be

[2017-07-24 20:15] mwelling opened #3 "Level Shifting Mezzanine"
ric96:
I want to take a simpler turn here from the pi/arduino mezz concept
I was just hoping for a simple level shifting mezz with the same LS layout as 96boards and a switch to toggle between 3v3 and 5v like on the audio mezz. Hopefully fitting it in a 96boards IoT Form-factor, so that even the IoT boards can make use of this.

mwelling:
The IoT mezzanine spec uses a .1" header instead of 2mm so

[2017-07-24 20:16] mwelling opened #4 "Spacer Mezzanine"
Simple Idea, No active or passive components.
The idea is to just to give some room to the SoC to have a decent enough heat sink on the soc and not be compromised due to Clarence issue with mezzanine.
Look at the heat sink provided with the hikey960, it's just a thin sheet of copper if anything at all. Not even has fins for decent airflow...
So, I really want it to be simple without any components

[2017-07-24 20:17] mwelling opened #5 "I2S Mezzanine"
Consider making an I2S audio mezzanine to work with all 96boards CE spec boards.

[2017-07-26 07:19] ric96 opened #6 "Motor controller mezz"
A Dual/Quad H-Bridge config supporting upto 2/4 bidirectional motors probably using 1 or 2 L298n or better yet VNH2SP30 for low profile. This would probably require some uni-directional logic level shifting.

[2017-07-26 08:22] mwelling commented on #1
Another license to consider:
http://solderpad.org/licenses/

The template would need to be released by Linaro if we switch from the BSD license.

[2017-07-26 08:49] sdrobertw commented on #1
Michael would you mind summarizing anything I will need to bring past Linaro with regard to bringing template over to this repository?

My understanding is that the template is under BSD, and if we decide to move from BSD, we will need Linaro's permission to do this. Is this correct?

If this is the case, we will need to decide on the license before I bring it up to anyone within Linaro. This way,

[2017-07-26 22:02] mwelling commented on #1
You would just need permission from them to change the license if we see it fit.

Of the open hardware licenses these are more permissive:
https://creativecommons.org/licenses/by/4.0/
http://solderpad.org/licenses/

If they want to keep the license as is, I would probably think it best to follow the same for the rest of the repository.

[2017-07-26 22:06] sdrobertw commented on #1
@mwelling I personally like the creative commons license. Let me try to address this by EoW, and come back with an answer to see if it is okay to change license.

Thanks!

[2017-07-28 20:18] ric96 opened #8 "Promote "Stackablility""
A lot of the mezzanines currently on the market do not reflect the ls and hs on the top side of the pcb, that means, other mezzanines can not be stacked with them. Let's make a point to mention this in the documentation and make the effort to mirror LS and HS on the top on the boards that we design and upload here as an example.

[2017-08-06 18:46] mwelling opened #10 "Add high speed connector to mezzanine template."
The mezzanine template currently only has low speed connector options.

[2017-08-07 02:23] sdrobertw commented on #10
Let's start a to-do list on the template README.md

I have already modified the section in PR

[2017-08-07 02:31] mwelling commented on #10
Okay, I merged just merged your PR. Go ahead and add it to the README.

[2017-08-08 13:45] GustavoRP commented on #10
The Altium template already has the high-speed connector. However, I would like someone to check if it is in the exactly right position because the mechanical documentation I found did not have enough information about this connector.

[2017-08-08 15:57] mwelling commented on #10
I will take a look before I merge it.

[2017-08-10 06:55] sdrobertw commented on #10
This template has been merged, can we close this issue?

[2017-08-10 06:58] sdrobertw commented on #1
Are we satisfied with the licenses that are in place?

I think all we are missing is the "Suggested / recommended" license procedure when porting a template and turning it into an actual board.

Let's keep this open until that doc surfaces.

[2017-08-10 13:45] GustavoRP commented on #10
The high-speed connector still needs to be added to the KiCad project. Unfortunately, I have no experience with it, but here is the footprint specification if someone wants to add it on the board:
http://portal.fciconnect.com/Comergent/fci/drawing/61083.pdf

[2017-08-10 16:30] mwelling commented on #10
I will take care of it.

[2017-08-11 02:30] GustavoRP commented on #10
we can close the issue, then.

[2017-08-11 03:23] mwelling commented on #10
After I take care of it. :)

[2017-08-11 08:26] mwelling commented on #10
KiCAD template has been updated to include the high-speed connector.

[2017-08-11 08:26] #10 closed

[2017-08-14 17:56] ric96 opened #19 "GPIO Expansion Mezz with 5v level shifting"
This is a possible solution to the problem of getting arduino based 5v sensors to wok with 1v8 gpios on the 96boards platform.
The suggestion is to use a single 6-8 channel Logic level shifter to shift both i2c and uart pins to 5v and add a gpio expander like a [SX1509](https://cdn.sparkfun.com/assets/learn_tutorials/4/3/4/sx150x_789.pdf) to add 5v gpios.
This would not effect the on-board gpios o

[2017-08-23 13:06] Mani-Sadhasivam commented on #6
Also it'd be nice to have a microcontroller (atmega328) for offloading the motor controlling part. Since, CE boards doesn't seems to be having PWM requirement, a separate uc like we have in Sensors Mezzanine would be great!

[2017-08-23 13:22] Mani-Sadhasivam commented on #5
Nice to have:

1. Mainline supported 1.8v compatible audio codec
2. Use of on board oscillators to avoid getting MCLK from CE board
3. Provision to connect external I2S inputs
4. Exposing LS header (probably 2.54mm)

[2017-08-31 16:43] Workshopshed commented on #6
And perhaps some servo support too?

[2017-08-31 16:43] Workshopshed commented on #6
Perhaps think about quadrature encoders too for the motors

[2017-10-13 15:20] dlezcano opened #31 "Thermal mitigation with mezzanine fan"
We noticed some boards can be working out of the thermal envelope and some others have a thermal behavior with fast/high amplitude.

Some of us did use a big fan powered by an USB relay which is not the best solution to do active cooling on the boards (but better than nothing).

It could be interesting to create a mezzanine board with slow speed connector deport in order to still add the console a

[2017-10-13 15:23] sdrobertw commented on #31
@mwelling

What do you think of this one? Seems interesting!

[2017-10-13 15:38] mwelling commented on #31
Interesting. Thermal considerations seem to be overlooked on most of the CE boards and on the spec.
The majority of the CE boards (besides DB410C) expect passive cooling from the top side I believe.
Using a fan might work but limits the applications to main carrier functions because the mezzanine slot will be consumed by the fan.

[2017-10-16 08:36] dlezcano commented on #31
I thought we can keep the slow connector on the fan board as we will be using DC_IN, 5v, and i2c, no ?

[2017-10-16 09:19] dlezcano commented on #31
- TC655 for PWM controller
 - BS170 for PWM control of the fan
 - a 40x40x10 12v fan 100mA max, 1.2W.

The fan is powered via DC_IN and driven by the BS170. The PWM controller is powered by the 5V and communicate via i2c.
Won't it work if we keep the 40pins slow connector on the fan board allowing us to stack a mezzanine board or console?

[2017-10-17 14:40] glikely commented on #31
The UART board is due for a redesign. It would be worth plopping down the PWM circuit and a connector for the fan while keeping the form factor tiny. That would allow the fan to be positioned as needed. For instance, if a mezzanine is being used, then the fan would need to be mounted vertically at the side of the board to draw air across the heatsink.

It would be a separate design to create brack

[2017-10-19 20:57] ric96 commented on #31
we can use a side blowing fan like the ones used in laptops
https://www.geekbuying.com/item/Cooling-FAN-FOR-Khadas-Vim-Development-Board-376317.html

[2017-11-02 12:09] ric96 opened #34 "Meeting Agenda 6th Nov 2017"
# Agenda
- **New meeting agenda logging using issues:** and discarding/archiving the meetings folder.
- **A ```CONTRIBUTING.md``` or ```REPORTING.md```** file(s):** to layout guidelines to contribute, report issues etc. Including a [Submit a new issue](https://github.com/96boards/mezzanine-community/issues/new) link like this one. And restructure ```README.md``` for the same.
- Ideas for Thermal/F

[2017-11-06 20:39] ric96 commented on #34
# Meeting Notes:
- Thermal/Fan mezzanine:
    - Is a viable temporary solution, with the right type of fan that can fit between the actual soc and the mezzanine. But will be hard to make it universal.
    - More permanent solution would be to have the SoCs placed on the bottom side of the board

- Arduino Mezzanine: Search for the original creator for this mezzanine board, a good place would be th

[2017-11-20 07:13] ric96 opened #38 "Meeting Agenda 20th Nov 2017"
# Agenda
- **A ```CONTRIBUTING.md``` or ```REPORTING.md```** file(s):** to layout guidelines to contribute, report issues etc., now in PR for review https://github.com/96boards/mezzanine-community/pull/37
- Consider include Fritzing template
Tagging:
@mwelling
@glikely
@sdrobertw
@GustavoRP
@rafaelchrist

[2017-11-21 11:41] ric96 commented on #38
# Meeting Notes
- Dieter: Working on a Display mezzanine using MIPI
- Fritzing template to be added to the repo, I'll be looking into that.

[2017-12-04 14:20] ric96 opened #39 "Meeting Agenda 04th Dec 2017"
# Agenda
- Fritzing template: got corrected pin pitch from the fritzing forums
- @mwelling: Updates on GPS Mezzanine?
- @sdrobertw: updates on Akira's Drone Mezzanine?

Tagging:
@mwelling
@glikely
@sdrobertw
@GustavoRP
@rafaelchrist

[2017-12-04 15:23] sdrobertw commented on #39
@ric96

No updates on Akira's drone board just yet. We hope to have this board added to repo asap.

[2017-12-04 15:39] mwelling commented on #39
Send the first GPS mezzanine PCB out to OSHPark for fab.

[2017-12-06 19:03] krisik70 opened #40 "Touchpad mezzanine"
Use case: Some of the screens don't have touch capability, and even if they have, it is usually consuming USB port making OTG unavailable (big issue for Android development case).

Having touchpad mezzanine connected to LowSpeed IO connector (SPI-based) will resolve this issue.
Please don't forget to expand UART1 pins to be accessible through some connector or combine it with FTDI chip.

[2017-12-06 23:27] niruyadla commented on #5
We are looking for  I2S audio mezzanine to work with Hikey960 board.

It is nice to have 4 DMICs (or 4 PDM microphones) input and stereo output.

[2017-12-07 00:22] mwelling commented on #5
@niruyadla Is there a single I2S codec that can do this?

[2017-12-07 00:37] niruyadla commented on #5
As per this document https://github.com/96boards/documentation/blob/master/ConsumerEdition/HiKey960/HardwareDocs/HiKey960_SoC_Reference_Manual.pdf

Part number Hi6403 seems to  be supporting MIC x 4

[2017-12-07 01:12] mwelling commented on #5
Okay I did a bit of investigation. The Hi6403 is not available from the typical vendors and has a bit of HiSilicon tie-in giving them a bit of an advantage over base boards for other SoC vendors. Also I am not seeing mainline support for this codec.

If HiSilicon supports the development maybe I would consider it but otherwise I would try to find a codec that is more SoC agnostic and hopefully sup

[2017-12-07 03:32] Mani-Sadhasivam commented on #5
I agree with @mwelling here, codec should be board agnostic! Also, having 4 DMIC inputs seems to be an interesting feature to have. This will extend the application capabilities of the board to Voice acquisition etc... We could eventually use this board to develop something like Echo dot.

[2017-12-09 01:06] RajPawate commented on #5
Hello Mani, and Michael Welling,
I work at Cadence and we are working on offloading tasks from App processor to HiFi 3 DSP which is embedded in the SoC of Hikey960.  Happy to see that you are interested in working on a multi-mic data acquisition card for Hikey960.  We also wish to do the same.    You might be interested in looking at http://www.ti.com/tool/TIDA-01454#technicaldocuments
This is dua

[2017-12-12 10:10] ric96 commented on #39
# Meeting Notes
- Expecting Akira's Drone Mezzanine to be pushed into the repo soon
- People are interested in using this repo to host other 96boards related hardware designs, but it's decided to keep the scope of this repo limited to mezzanine for now

[2017-12-18 15:45] ric96 opened #41 "Meeting Agenda 18th Dec 2017"
# Agenda
- E-Ink Badge Display Mezzanine Ideas
    -  Drew's Project https://github.com/pdp7/kicad-teensy-epaper
    - Based on http://www.pervasivedisplays.com/products/215
- Planning to host AiStar Vision Camera Mezzanine
    - Already sort of Open Hardware: https://github.com/Kevin-WSCU/96Boards-Camera
- @mwelling: Updates on GPS Mezzanine?
- @sdrobertw: updates on Akira's Drone Mezzanine?

Tag

[2017-12-18 18:44] mwelling opened #42 "GPS Mezzanine: Add ferrite bead to power supply going to GPS"
Add ILBB0805ER102V or similar.

[2017-12-22 06:22] mwelling opened #43 "GPS Mezzanine: Consider increasing size of antenna hole under module"
Although the hole was sized according to the recommend pattern, the hole for the built-in antenna is larger on other boards using this GPS module. For instance the Adafruit designs use 3.6mm hole instead of 1.2mm.

[2017-12-23 13:18] ric96 commented on #41
# Meeting Notes
- GPS mezzanine: first revision works fine
    - better than onboard GPS from the dragonboard 410c.
- Group kits is interested in partnering with us
    - they need at least 1 successful campaign, to begin with.

[2018-01-08 16:58] ric96 opened #44 "Meeting Agenda 08th Jan 2018"
# Agenda

@sdrobertw Updates on AiStarvision and Akira's Drone Mezz?

tagging
@mwelling
@rafaelchrist

[2018-01-08 17:18] sdrobertw commented on #40
Flick Hat to be referenced
https://www.pi-supply.com/product/flick-hat-3d-tracking-gesture-hat-raspberry-pi/

[2018-01-08 17:44] sdrobertw opened #45 "Meeting: Agenda - 22, Jan 2018"
**Meeting time:** 5:00PM UTC

Please comment for next meeting's agenda items:

@glikely
@mwelling
@ric96
@sdrobertw
@krisik70

Notes will be added to this card after the meeting.

[2018-01-08 17:45] sdrobertw commented on #44
- Waiting on response from AiStarVision and Akira for drone mezzanine integration into repo.
   - Also trying to get Chris Taylors 2.0->2.54mm pitch converter mezzanine into repo.
- @sdrobertw to get Cadence to join next meeting to discuss I2S mezzanine for DSP AOSP upstream efforts. To ping Niranjan.
- I2S mezzanine to take next on list (possibly followed by Touchpad mezzanine
- Touchpad mezzanin

[2018-01-20 22:23] vanthome opened #46 "96 Boards Spec Reference in Altium Templates"
In the Altium libs there is a small note below the connectors that the pinout can be found in a DragonBoard manual. The pinout can, however, also be found in the 96 Boards CE spec and I think the template should refer to this source.

[2018-01-22 16:17] ric96 commented on #45
The expected due date for e-ink mezzanine has been extended to allow more time for testing and board revs.

[2018-01-22 17:17] sdrobertw commented on #45
Chat:

Ragnar.
R
Hi, I'm early. Time to grab some tea...
I still need to make coffee
https://github.com/96boards/mezzanine-community/issues/45
Ragnar.
R
nag, nag... https://github.com/96boards/mezzanine-community still states wrong time
lol
Ragnar.
R
cute
Guest 1
G1
Good evening people
Ragnar.
R
Mike, did you add ferrite bead to the GPS. Also no 100 nF cap at the gpsmodule?
Guest 1
G1
@Robert: It'

[2018-01-22 17:20] sdrobertw opened #47 "Meeting: Agenda - 5, Feb 2018"
Meeting time: 5:00PM UTC

Please comment for next meeting's agenda items:

@glikely
@mwelling
@ric96
@sdrobertw
@krisik70

Notes will be added to this card after the meeting.

[2018-02-05 17:34] ric96 commented on #47
canceled due to lack of attendees.

[2018-02-05 17:35] ric96 opened #49 "Meeting: Agenda - 19, Feb 2018"
Meeting time: 5:00PM UTC

Please comment for next meeting's agenda items:

@glikely
@mwelling
@ric96
@sdrobertw
@krisik70

Notes will be added to this card after the meeting.

[2018-02-26 19:36] ric96 commented on #49
Meeting Notes:
- Initial 25 units of GPS Mezz to be planned with Groupkits
- Documentation and Blurb TODO for the same.
- GPS Mezzanine will be utilised to further driver other 96Boards initiatives

[2018-02-26 19:37] ric96 opened #50 "Meeting: Agenda - 05, March 2018"
Meeting time: 5:00PM UTC

Please comment for next meeting's agenda items:

@glikely
@mwelling
@ric96
@sdrobertw
@krisik70

Notes will be added to this card after the meeting.

[2018-03-05 16:36] sdrobertw commented on #50
- Micro Mezzanine approval has cleared (AFAIK). We will be expecting some contribution from Barry soon.
- Still waiting on Katagarsu Red Mezzanine contribution from Akira
- Migrating UART Mezzanine over to Repo soon
- Work on e-ink mezzanine to come after Connect HKG18

[2018-03-05 16:43] ric96 commented on #50
- Chris Tyler is fine with us hosting the 2mm to 2.54 mm header mezzanine, although he would like a newer revision to be added.

[2018-03-05 16:45] ukBaz commented on #50
Does this mean the meeting has happened?

The meeting is scheduled for 17:00 UTC.
https://github.com/96boards/mezzanine-community#meeting-notes
Currently it is 16:45 UTC

[2018-03-05 16:47] ric96 commented on #50
@ukBaz
it's going to happen in about 15min, these are the topics we will be discussing in greater detail

[2018-03-05 17:05] sdrobertw commented on #50
https://upverter.com/ukBaz/0f2a430ab12afa2e/micromez/

[2018-03-05 17:13] sdrobertw commented on #50
@ukBaz Will need to update that time. Thanks for letting us know!

[2018-03-05 17:23] ric96 commented on #50
@sdrobertw time is fine

[2018-03-05 17:27] sdrobertw commented on #50
- Dmitry: Mezzanine that brings in a battery and touch screen.
- Ragnar: This kicad tutorial series was recommended on a local forum recently: https://www.youtube.com/watch?v=JN_Y93RTdSo&list=PL5iUxv3Op2fOpVASHvcpM2O4UO0yMfKJi
- Barry: https://www.buydisplay.com/default/10-1-inch-1024x600-50-pins-tft-lcd-display-w-touch-panel-and-touch-driver

[2018-03-05 17:40] sdrobertw commented on #50
http://www.guru3d.com/articles-pages/wireless-graphics-card-kfa2-gtx-460-wdhi-review,1.html

[2018-03-05 17:44] sdrobertw commented on #50
Attendees:

- Barry
- Dmitry
- Ivan Farkas
- Michael Welling
- Pan
- Ragnar
- Sahaj
- Robert Wolff

[2018-03-05 17:45] sdrobertw commented on #50
KiCAD Discussion as repo standard: http://kicad-pcb.org/

[2018-03-08 14:07] Genoil opened #51 "Question: how much space above USB ports"
I've just started working on a mezzanine based on your template (thanks!). Although I understand the meaning of the keepout areas, I was wondering how much room there really is between the USB type A ports and the mated mezzanine. With a PCB distance of 7mm and a USB-A receptacle of ±5.5mm, I should be able to place some small 1mm height parts there, right? Or is this asking for problems?

(btw I

[2018-03-08 16:34] mwelling commented on #51
I would not recommend any through-hole or bottom side components in these keep out areas.

[2018-03-08 17:54] Genoil commented on #51
It is only an FPC header for connecting a DSI panel but I think I found a better place for it already. Thanks.

[2018-03-08 17:54] #51 closed

[2018-03-09 13:14] Genoil opened #52 "Eagle naming of differentials pair signals"
For Autodesk Eagle to support differential pair routing, it is required that the signal names have the suffixes _P (for positive) and _N (for negative) instead of + and -. It would make sense to update the Eagle template per these requirements.

[2018-03-10 23:03] mwelling commented on #52
If you can do a pull request, we will accept this update.

[2018-03-11 09:32] Genoil commented on #52
On 2nd thought I'm not entirely sure this is beneficial. The routing improvements made in Eagle since the Autodesk acquisition (walkaround, push 'n shove, etc.) don't seem to work for differential pairs (yet). Until then, it seems better to route the pairs individually and there don't have the suggested renaming.

[2018-03-11 09:32] #52 closed

[2018-03-27 12:44] Genoil opened #53 "low speed connector in schematic is female receptacle, not male header"
The 55510-140LF low speed connector listed in the (Eagle, didn't check others) schematic is actual the female part. It should be the 57102 (TH) or 57202 (SMT)

See https://cdn.amphenol-icc.com/media/wysiwyg/files/documentation/datasheet/boardwiretoboard/bwb_minitek_unshrouded_vh.pdf

[2018-04-02 15:30] ric96 opened #54 "Meeting: Agenda 2nd April 2018"
Meeting time: 5:00PM UTC

Please comment for next meeting's agenda items:

@glikely
@mwelling
@ric96
@sdrobertw
@krisik70

Notes will be added to this card after the meeting.

[2018-04-02 17:56] ric96 commented on #54
mwelling : Will be working on rev1 on the GPS mezzanine with UART-to-USB and Breadboard-like layout.

vanThome: Working on a new mezzanine. Mezzanine will allow boards without a PCIe slot to have one using the USB port on the High-speed Connector. This mezzanine will hopefully get featured in OpenHours once its done

Barry: Green light on micromezz. It will be in the repo in PDF form and will be c

[2018-04-16 12:33] ric96 opened #56 "Meeting: Agenda 16th April 2018"
Meeting time: 5:00PM UTC

Please comment for next meeting's agenda items:

@glikely
@mwelling
@ric96
@sdrobertw
@krisik70

Notes will be added to this card after the meeting

[2018-04-30 14:51] ric96 opened #58 "Meeting: Agenda 30th April 2018"
Meeting time: 5:00PM UTC

Please comment for next meeting's agenda items:

@glikely
@mwelling
@ric96
@sdrobertw
@krisik70

[2018-04-30 16:12] sdrobertw commented on #58
- Michael Welling not able to join
- Mani: Open issue, Cadence expressed need for I2S mezzanine. Suggestion is to not make a applications specific mezzanine. Cadence want it for Audio application stuff. Mani suggests a codec supported by mainline Linux. Since we do not have I2S mezzanine yet, testing audio out is hard to test.
   - Offer task to Frontline electronics. Hoping they will make the mez

[2018-04-30 16:13] sdrobertw commented on #58
Chat Log:

Sahaj
S
just a couple more minutes
https://youtu.be/oVjZrUncDj4
Mani
M
https://github.com/96boards/mezzanine-community/issues/5
Dmitry
D
We still have issues to get from HiSi support for I2S0 (from Low Speed IO)
https://discuss.96boards.org/t/device-tree-for-i2s0-on-hikey-960/3911
We had in the past Lemaker LCD (no tough though)
http://www.lenovator.com/product/102.html
No, I am fine

[2018-05-05 19:06] mwelling commented on #42
Done.

[2018-05-05 19:06] #42 closed

[2018-05-05 19:18] mwelling commented on #43
After looking closer at the Adafruit modules updated to 2mm hole.

[2018-05-05 19:18] #43 closed

[2018-05-14 14:51] ric96 opened #59 "Meeting: Agenda 14th May 2018"
Meeting time: 4:00PM UTC

Please comment for next meeting's agenda items:

@glikely
@mwelling
@ric96
@sdrobertw
@krisik70

[2018-05-14 16:51] zedhed commented on #59
Curious about what the suggested licensing for the template for new boards will be.  It sounds like you are leaning towards [CERN OHL version 1.2](https://www.ohwr.org/documents/294) , correct?

[2018-05-28 14:57] ric96 opened #60 "DSI to LVDS"
Display Mezzanine with a lvds display using a dis to lvds link: http://www.ti.com/product/SN65DSI83

[2018-05-28 14:58] ric96 opened #61 "iCE40 FPGA Mezzi"
Mazzanine based on the iCE40 FPGA with open-source tools, icestorm yosys etc.
Could be branched out to rpi or arduino headers.

[2018-05-28 15:00] ric96 opened #62 "Meeting: Agenda 28th May 2018"
Meeting time: 4:00PM UTC
Please comment for next meeting's agenda items:
@glikely
@mwelling
@ric96
@sdrobertw
@krisik70
--

[2018-05-28 15:01] ric96 commented on #62
Notes on my end:
1) DSI to LVDS Mezzi: https://github.com/96boards/mezzanine-community/issues/60
2) iCE40 FPGA Mezzi: https://github.com/96boards/mezzanine-community/issues/61

[2018-06-04 20:07] sowjanya-tumu commented on #5
@sdrobertw , do we have any update on this ?
I see HiSilicon merged some code changes on kernel to support I2S.
@Mani-Sadhasivam Do you know when can we get mezzanine audio codec board for Hikey960?

[2018-06-04 20:09] niruyadla commented on #5
@sdrobertw , do we have any update on this ?
I see HiSilicon merged some code changes on kernel to support I2S for Hikey960
@sdrobertw @Mani-Sadhasivam, Do you know when can we get mezzanine audio codec board for Hikey960?

[2018-06-04 20:10] sdrobertw commented on #5
@mwelling

@Mani-Sadhasivam @niruyadla and @RajPawate are the ones who will need to provide update.

[2018-06-04 23:08] mwelling commented on #5
I have been holding off on the design waiting for more information from @Mani-Sadhasivam. There was talk of another company contributing the design which is more than welcome. Hopefully we will have some more information by the bi-weekly meeting next week.

[2018-06-05 08:37] Mani-Sadhasivam commented on #5
@niruyadla @mwelling I have prepared some recommendations for the I2S Mezzanine which I will share it in our next Mezzanine meeting! Please let me know if we can discuss it here itself before the meeting.

[2018-06-05 16:55] niruyadla commented on #5
@Mani-Sadhasivam ,Please let me know when is next Mezzanine meeting?

[2018-06-05 17:00] Mani-Sadhasivam commented on #5
@niruyadla Monday, June 11 @ 9.30 to 10 PM (Indian Standard Time)

[2018-06-08 06:55] Mani-Sadhasivam commented on #5
@mwelling @niruyadla @sdrobertw @ric96

Here is the sample draft for the I2S Mezzanine:

https://docs.google.com/document/d/1dAwuQvU_V4PVBUMsx15CKj5A87g79PSl6L5iz3neU_U/edit?usp=sharing

I will populate this until our next meeting, please let me know your thoughts.

[2018-06-08 18:25] lbdroid opened #63 "Considerations for future GPS mezzanine revisions"
1) A 1.8V GPS module, like U-Blox Neo-M8M
** This module's performance is a night and day improvement over the G.top013 you're using.
2) Stackable (including high-speed)
3) Eliminate unnecessary circuitry (level shifter, usb-to-uart debug, etc.)
4) Ability to disconnect GPIO lines that are not needed for the application so as to not interfere with stacked boards.

**5**) Price. I know that economi

[2018-06-08 20:27] mwelling commented on #63
We will never be able to compete with the VK-162 price.

The Neo-M8M module only consist of a portion of the cost of the system as it does not provide a built-in antenna. If we use stacked design it would block the use of an on-board antenna.

As for removing the UART header, it is funny because I was just told to add it on the revision.

[2018-06-11 14:43] ric96 opened #64 "Meeting: Agenda 11th Jun 2018"
Meeting time: 4:00PM UTC
Please comment for next meeting's agenda items:
@glikely
@mwelling
@ric96
@sdrobertw
@krisik70
@Mani-Sadhasivam

[2018-06-11 15:41] Mani-Sadhasivam commented on #64
I2S Mezzanine

- There will be no commitment from the company I referred earlier
- It will be purely based on @mwelling and community
- Requirement spec: https://tinyurl.com/y7s4s4ok

[2018-06-11 16:50] Mani-Sadhasivam commented on #5
@niruyadla We have logged the today's meeting notes in #64. It would be great if you let us know if you guys can support this Mezzanine by any means!

[2018-06-25 14:26] ric96 opened #66 "Meeting: Agenda 25th Jun 2018"
Meeting time: 4:00PM UTC
Please comment on next meeting's agenda items:
@glikely
@mwelling
@ric96
@sdrobertw
@krisik70
@Mani-Sadhasivam

[2018-06-25 14:37] sdrobertw commented on #66
- New student designed battery mezzanine to make it's way into the repo

[2018-06-25 15:14] ric96 commented on #66
- Upcoming mezzanine poll google form

[2018-06-25 16:41] sdrobertw commented on #66
- Bryan: Working with partner on mezzanine, just prototyping - Expand with lots of different things, extra sockets on board, etc... Variety of plug in modules will come with it. Looking at September for demoing at Linaro Connect. Working on getting it validated with Ultra96
- GPS Mezzanine discussion for crowd funding.
- Ragnar: New UBLOX module A new ublox module could be interesting... still not

[2018-06-25 16:43] sdrobertw commented on #66
- Need to do more research on market, and what the community wants before the next crowd funding event.
- Publish a mezzanine "Go" page
- Create a marketing form to find out what mezzanines people are interested in and at what price points people are willing to buy them at.

[2018-06-30 02:33] tbewley commented on #66
HI guys - I lead a group at UC San Diego and we are working on some new boards focused on DC motor / stepper / servo control (for small mobile robotics, 3d printers, etc), encoder counting, battery management, etc (an outgrowth of the BeagleBone Blue project which we were closely involved with).  We're now building a breakout board for the RPi and we were planning on making a modified version of t

[2018-06-30 17:44] sdrobertw commented on #66
@tbewley Would you mind dropping me an email at robert.wolff@linaro.org ?

[2018-07-06 14:43] ASerbinski commented on #64
Hi, has anyone actually begun working on this board? The reason I'm asking is that I'm currently working on a mezzanine board that covers most of the requirements of this one, except the headphone out. The audio aspects of my board include the following;

ADC: pcm1865
DAC: 2x pcm5142

I have it set up with a 1x stereo microphone input, 2x stereo line in, 1x stereo AMFM radio, 2x stereo line OUT. B

[2018-07-06 20:20] mwelling commented on #64
Might want to brand it more specifically to the intended use case.

We are happy to host outside contributions if they are released as open source hardware.

Automotive Mezzanine?

Remember we are trying to provide blocks for people to get so if you have the features required of the mezzanine then we don't need another reference with the same IP.

[2018-07-06 22:11] ASerbinski commented on #64
I haven't addressed branding yet.

I don't know if I quite understand what you are suggesting. That my board be offered instead of i2s mezzanine? Or that is2 mezzanine be based directly on my schematics?

If the first, I don't think that my board would be a suitable choice for someone who is looking to add sound to something that maybe sits on their desk. To start with, my BOM alone is a lot more

[2018-07-06 22:46] mwelling commented on #64
Well our doors are open for a pull request. If you rather just point us to the schematics and have us pull the IP into this project that is also fine.

What PCB package was used?
Are the design files freely available?

[2018-07-06 22:53] Yang-96Boards commented on #64
Ditto - this sounds a well fit design

Would you also consider putting microphone array on board? That would be an interesting kit Amazon Alexa team is looking for.

[2018-07-06 22:55] mwelling commented on #64
I think a microphone array might need a bit different underlying hardware.

Perhaps this would better for a third board specifically for speech recognition.

[2018-07-06 23:00] mwelling commented on #64
@Yang-96Boards do you think we could get support from Amazon for an Alexa mezzanine?

[2018-07-06 23:36] ASerbinski commented on #64
Unless you feel like blending multiple audio streams together, a microphone array would not work well with a pcm1865. While it can technically address up to 12 microphones (8 analog + 4 digital), it can only output 4 channels, either over a single dout in TDM mode (which disables the second dout), or 2 channels on each dout in i2s mode.

I'll submit a pull request with schematics, but I won't be a

[2018-07-06 23:50] mwelling commented on #64
@ric96 can you add a new folder for gEDA projects.

[2018-07-07 00:11] Mani-Sadhasivam commented on #64
@Yang-96Boards We talked about this microphone array feature before but we settled with a mezzanine which just acts as a general purpose soundcard.

As @mwelling pointed out, if we get support from Amazon then we may do a separate mezzanine for their usecase. I guess this is also what Cademce is looking for!

[2018-07-07 09:54] Yang-96Boards commented on #64
On 7 July 2018 at 00:00, Michael Welling <notifications@github.com> wrote:

I have just sent a proposal to Amazon Alexa team - let's see what we hear
back. Will keep this updated.

[2018-07-07 10:10] ric96 commented on #64
@mwelling I can create a new folder but it should go into the "other" folder since it's the only one using gEDA.

[2018-07-08 03:13] mwelling commented on #64
I think gEDA being open aligns well with this repository. Just got to remember how to use it to review the design for the pull request. :)

[2018-07-09 14:42] ric96 opened #68 "Meeting: Agenda 9th Jul 2018"
Meeting time: 4:00PM UTC
Please comment on next meeting's agenda items:

@mwelling
@ric96
@sdrobertw
@Mani-Sadhasivam
@tbewley
@ASerbinski

[2018-07-09 18:04] tbewley commented on #68
Dear Sahaj et al -
I’m so sorry I missed this meeting, I was giving a talk at the SIAM annual meeting in Portland at precisely this time.
I look forward to working with you guys (related to my lab's work on a new robotics-oriented mezzanine board) at the next available opportunity.
Feel free to reach out to me at this email in the meantime.
Best regards,
- Tom

—
Thomas Bewley, Professor, UC San D

[2018-07-11 23:49] lbdroid opened #69 "Microphone array mezzanine"
Regarding discussion on microphone array vs i2s mezzanine started here: https://github.com/96boards/mezzanine-community/issues/64

I have been thinking about a microphone array with respect to the i2s mezzanine schematics I have provided. I believe that I was mistaken in the understanding that pcm1865 may not be suitable for a microphone array. As per the pcm1865 datasheet page 73, my design could

[2018-07-11 23:51] ASerbinski commented on #69
Well... Wrong GitHub account. That is, in fact, me.

[2018-07-23 14:48] ric96 opened #71 "Meeting: Agenda 23rd Jul 2018"
Meeting time: 4:00PM UTC
Please comment on next meeting's agenda items:

@mwelling
@ric96
@sdrobertw
@Mani-Sadhasivam
@tbewley
@ASerbinski

[2018-07-23 14:50] ASerbinski commented on #71
I won't be able to make it today.

[2018-07-23 15:39] Mani-Sadhasivam commented on #71
**I2S Mezzanine**
Software Update:
1. Ported I2S driver for HiKey960 from AOSP to debian kernel (v4.15)
2. Got the DATA and CLK signals while playing audio through ALSA utils
3. No activity on the WS signal (Needs Debugging)
4. Using simple sound card and internal codec for now

[2018-08-06 14:46] ric96 opened #72 "Meeting: Agenda 6th Aug 2018"
Meeting time: 4:00PM UTC
Please comment on next meeting's agenda items:

@mwelling
@ric96
@sdrobertw
@Mani-Sadhasivam
@tbewley
@ASerbinski

[2018-09-03 14:22] ric96 opened #73 "Meeting: Agenda 3rd Sept 2018"
Meeting time: 4:00PM UTC https://bluejeans.com/6199314558/
Please comment on next meeting's agenda items:

@mwelling
@ric96
@sdrobertw
@Mani-Sadhasivam
@tbewley
@ASerbinski

[2018-09-03 16:03] ASerbinski commented on #73
Robert says it's cancelled today.

[2018-09-03 16:22] #73 closed, assigned to nobody

[2018-09-22 13:43] ASerbinski commented on #60
This is a great idea.
Few points I would like to add to the idea;

1) it should be stackable, since this would lend itself very well to combination with other boards. Being stackable, connectors need to be accessible out the side of the board. I would favor connectors pointing out the side OPPOSITE the HDMI connector on the SBC, since this is an "internal" interface.

2) it would be nice to implem

[2018-10-01 14:13] ric96 opened #76 "Meeting: Agenda 1st Oct 2018"
Meeting time: 4:00PM UTC
Please comment on the next meeting's agenda items:

@mwelling
@ric96
@sdrobertw
@Mani-Sadhasivam
@tbewley
@ASerbinski

[2018-10-01 16:03] sdrobertw commented on #76
- Proposal to split section for schematics only and layout w/ schematica
- Next GroupGets campaign
   - Will @ASerbinski want to put his board up for crowdfunding?

[2018-10-01 16:45] sdrobertw commented on #76
Chuck (ADI)
- Possibility of a design contest, once infrastructure is ready.

[2018-10-03 06:33] sdrobertw opened #77 "LVDS -> MIPI CSI"
Any thoughts on this one?

@mwelling @ric96

[2018-10-03 06:58] mwelling commented on #77
So LVDS camera/display output converted to CSI before going to the high speed header?

Might be able to leverage something like this:
http://www.analog.com/media/en/technical-documentation/data-sheets/ADV7782.pdf

What are you trying to accomplish?

[2018-10-03 08:00] sdrobertw commented on #77
@mwelling Yeah, Joyce (96Boards PM) shared some Lontium and Lattice chips that would do the trick too, I guess...

I don't know exact reasons, I will look into it. This mezzanine idea was brought up by Yang. Thought I would at least throw it up here as a place holder in case there are any discussions around it.

[2018-10-03 08:06] Yang-96Boards commented on #77
This is to take 4 x 1080p GMSL or LVDS cameras mux into 1 CSI2 - automotive vision subsystem use case.

Sent from my iPhone

[2018-10-03 17:55] mwelling commented on #77
If there is a use case then I think it is certainly worthy. Thanks for posting.

[2018-10-04 10:15] Yang-96Boards commented on #77
Thanks Michael - if anyone got one of those I ll personally be buying a
dozen right away :-P... we really need this.

On Wed, 3 Oct 2018 at 18:56, Michael Welling <notifications@github.com>
wrote:

[2018-10-15 14:57] ric96 opened #78 "Meeting: Agenda 15th Oct 2018"
Meeting time: 4:00PM UTC
Please comment on the next meeting's agenda items:

@mwelling
@ric96
@sdrobertw
@Mani-Sadhasivam
@tbewley
@ASerbinski

[2018-10-15 14:58] ric96 commented on #78
Agenda:
- Staging Folder: https://github.com/ric96/mezzanine-community/commit/079096561a69609c1e240ba9791507180c729ba0
- LVDS -> MIPI CSI: https://github.com/96boards/mezzanine-community/issues/77

[2018-10-15 16:35] ric96 commented on #78
Micheal:
- Moving Audio Mezzi to crowdfund (Adam?)
  - Micheal and Adam to start talking to Groupgets to get this going.
- Contest with Hackster.io, meeting at ArmTechCom
- FPGA Mezzi using Lattice

Mani & Sahaj
- Find a decent PCB house locally in India to source sample designs to be tested before launch...

[2018-10-15 16:57] ASerbinski commented on #78
Regarding the bug in the pcm1865 driver;
I thought about fixing it, but apparently didn't actually get around to it, rather just disabled apm as a quick hack.
https://gitlab.com/HiKey960-Car/android_kernel_linaro_hikey/commit/0c2084accad551f4f23785e1db52118c894f1876

Fixing it should just be a matter of setting the winvert parameter (the last parameter) to 1. I'll try to run a build this week to c

[2018-10-15 17:34] mwelling commented on #78
@ASerbinski thanks for all of your effort so far.

[2018-10-29 14:27] ric96 opened #80 "Meeting: Agenda 29th Oct 2018"
Meeting time: 4:00PM UTC
Please comment on the next meeting's agenda items:

@mwelling
@ric96
@sdrobertw
@Mani-Sadhasivam
@tbewley
@ASerbinski

[2018-10-29 15:10] ric96 commented on #80
Agenda:
- Evaluate people's interest in a mezzanine Idea.
- SX1509 based mezzanine
- ECP5 based mezzannine
- Updates on I2S mezzanie

[2018-10-31 21:38] niruyadla opened #81 "Where Can I buy i2s-mezzanine audio board for HIkey960?"
@ASerbinski : Where Can I buy i2s-mezzanine board?

[2018-10-31 22:13] mwelling commented on #81
We are planning on launching the board on Groupgets for purchase.

[2018-10-31 22:19] niruyadla commented on #81
@mwelling , Please let me know when it is launched on Groupgets and its link to purchase

[2018-11-03 11:15] albert-rz opened #82 "Error in 10075024-G01-20ULF footprint - wrong pin position"
Hi,

In 10075024-G01-20ULF footprint, pins 33, 34, 35, 36, 37, 38, 39 and 40 are in a wrong position

![wrong_pins](https://user-images.githubusercontent.com/17388413/47951527-16605080-df62-11e8-9c95-f2d4093379d4.png)

Regards

[2018-11-12 15:30] ric96 opened #83 "Meeting: Agenda 12th Nov 2018"
Meeting time: 5:00PM UTC
Please comment on the next meeting's agenda items:

@mwelling
@ric96
@sdrobertw
@Mani-Sadhasivam
@tbewley
@ASerbinski

[2018-11-15 02:04] Mani-Sadhasivam commented on #5
@mwelling @niruyadla @ric96

I have asked my college junior to come up with a low cost I2S Mezzanine design and he is up with the schematic and BoM. Please help with the review.

https://drive.google.com/file/d/1Gv76kbddEiU5T8BnT2cOk3aLxDisOm2Q/view?usp=sharing
https://drive.google.com/file/d/1fzCWMdBwlzLDHY_UTjSRuHBHb54GQ8ME/view?usp=sharing

Note: This is not intended to compete with Adam's Mezz

[2018-11-15 02:09] Mani-Sadhasivam commented on #5
Codec used is SGTL5000 and is well supported in mainline linux kernel.

[2018-11-22 08:35] Mani-Sadhasivam commented on #5
Design reviewed by @mwelling offline. Will share the updated design shortly.

[2018-11-26 15:00] ric96 opened #85 "Meeting: Agenda 26th Nov 2018"
Meeting time: 5:00PM UTC
Please comment on the next meeting's agenda items:

@mwelling
@ric96
@sdrobertw
@Mani-Sadhasivam
@tbewley
@ASerbinski

[2018-11-26 15:01] ASerbinski commented on #85
I won't be able to make it today.

[2018-11-26 20:00] mwelling commented on #82
Which CAD template is this on?

[2018-11-26 20:02] mwelling commented on #53
@rafaelchrist Can you take a look into this?

[2018-11-27 06:42] ric96 commented on #85
Meeting Notes:
Richard(ADI): Working on Multiple mezzanines with Arrow
Mani: Will be updating the I2S Mezzanine design as per Michael's suggestions.
Robert: l working on Contest material.
Michael: pushing on getting i2s mezzi on groupgets

[2018-12-02 20:45] albert-rz commented on #82
Hi,

It is in the eaglecad template.

Thank you

[2018-12-03 04:49] mwelling commented on #82
@rafaelchrist @GustavoRP Can you take a look at this?

[2018-12-10 14:55] ric96 opened #86 "Meeting: Agenda 10th Dec 2018"
Meeting time: 5:00PM UTC
Please comment on the next meeting's agenda items:

@mwelling
@ric96
@sdrobertw
@Mani-Sadhasivam
@tbewley
@ASerbinski

[2018-12-11 05:37] mwelling commented on #81
https://groupgets.com/campaigns/485-i2s-mezzanine

[2018-12-11 19:01] niruyadla commented on #81
Thanks for your update, going to order two boards

[2019-01-07 15:32] ric96 opened #87 "Meeting: Agenda 7th Jan 2019"
New Meeting  Room: https://zoom.us/j/6199314558

@mwelling
@ric96
@sdrobertw
@Mani-Sadhasivam
@tbewley
@ASerbinski

[2019-01-07 17:03] mwelling commented on #87
I will not be able to make the meeting today as I am onsite in Denver for a client.

[2019-01-21 15:35] ric96 opened #89 "Meeting: Agenda 21st Jan 2019"
New Meeting Room: https://zoom.us/j/6199314558

@mwelling
@ric96
@sdrobertw
@Mani-Sadhasivam
@tbewley
@ASerbinski

[2019-02-04 15:04] ric96 opened #90 "Meeting: Agenda 4th Feb 2019"
New Meeting Room: https://zoom.us/j/6199314558

@mwelling
@ric96
@sdrobertw
@Mani-Sadhasivam
@tbewley
@ASerbinski

[2019-02-04 17:51] ric96 commented on #90
To be discussed with GroupGets:
- Lower cost or Target units
- Stocking Units

Next Mezzanine Ideas:
- DSI to LVDS:
    - Maybe using the upstream TC358764 chipset from TI or something similar
- Cheap FPGA Mezzanine
- Iot Mezzanine:
    - LoRa
    - ZWave etc.

[2019-02-18 16:31] ric96 opened #91 "Meeting: Agenda 18th Feb 2019"
New Meeting Room: https://zoom.us/j/6199314558

@mwelling
@ric96
@sdrobertw
@Mani-Sadhasivam
@tbewley
@ASerbinski

[2019-04-15 14:32] ric96 opened #94 "Meeting: Agenda 15th April 2019"
Meeting Room: https://zoom.us/j/6199314558

@mwelling
@ric96
@sdrobertw
@Mani-Sadhasivam
@tbewley
@ASerbinski

[2019-04-29 14:44] ric96 opened #95 "Meeting: Agenda 29th Feb 2019"
New Meeting Room: https://zoom.us/j/6199314558

@mwelling
@ric96
@sdrobertw
@Mani-Sadhasivam
@tbewley
@ASerbinski

[2019-05-13 15:29] ric96 opened #96 "Meeting: Agenda 29th Feb 2019"
New Meeting Room: https://zoom.us/j/6199314558

@mwelling
@ric96
@sdrobertw
@Mani-Sadhasivam
@tbewley
@ASerbinski

[2019-05-13 15:31] ric96 commented on #96
- Topics:
 - SX1509 Mezzanine PR Review
 - New E-Ink display Mezzanine discussion
 - Live Mezzanine Mondays postponed to Jun

[2019-05-13 15:32] sdrobertw commented on #96
- Mezzanine Monday announcements
- June Event initiative.

[2019-05-23 05:01] ric96 opened #97 "E-ink event Badge"
![output](https://user-images.githubusercontent.com/5900740/58226379-0e240300-7d44-11e9-958b-235a748c2fce.png)
Excuse my crude drawing.

So here is the Idea. I am planing on making a badge can will be provided to EVERY attendee in a conference. So this means to keep the cost down, no active components on the badge itself.
Instead, attendees will be required to plug in their badges to a console at

[2019-05-23 05:51] ukBaz commented on #97
My assumption is that if anything more than a paper/card badge is given away at a conference it is because it will be readily hackable and so usable after the conference is finished. Is that going to be the case with the configuration above? If the attendee only gets parts 1 & 2 then there will be quite a high threshold to being able to hack it after the event. Also, with it being SPI based, and S

[2019-05-23 19:57] mwelling commented on #97
E-paper badges with electronic behind them tend to have a life after the conference.
https://hackaday.io/project/112222-2018-open-hardware-summit-badge

If you need to buy an adapter to program the reuse dies off quickly.

If you intend on reusing them for multiple conferences then I could see it having less environment impact.

[2019-05-23 20:13] #19 closed

[2019-05-23 20:23] mwelling opened #98 "SX1509 DRC issues"
Pulled the SX1509 but it still needs work. There are 6 disconnected traces.

![image](https://user-images.githubusercontent.com/1570196/58283667-b397a080-7d5d-11e9-80b3-0184739a51ed.png)

They all seem to be related to the GND pours.
![image](https://user-images.githubusercontent.com/1570196/58283741-f3f71e80-7d5d-11e9-9def-10758569aa13.png)

[2019-05-23 21:37] mwelling commented on #98
Went ahead and updated the design myself. Routing was far from optimal and I didn't have time to go through the review cycles.

https://github.com/96boards/mezzanine-community/commit/811c7d5c53dc1ce8ae7eb642ea9555a8128c80b0

[2019-05-23 21:37] #98 closed

[2019-05-27 15:46] ric96 opened #99 "Meeting: Agenda 27th May 2019"
New Meeting Room: https://zoom.us/j/6199314558

@mwelling
@ric96
@sdrobertw
@Mani-Sadhasivam
@tbewley
@ASerbinski

[2019-05-27 15:47] ric96 commented on #99
Meeting agenda:
E-ink badge
Sx1509 now merged

[2019-05-27 16:22] ric96 commented on #99
Closing, due to holiday in the US and UK.

[2019-05-27 16:22] #99 closed

[2019-06-10 15:29] ric96 opened #100 "Meeting: Agenda 10th June 2019"
New Meeting Room: https://zoom.us/j/6199314558 4PM UTC

@mwelling
@ric96
@sdrobertw
@Mani-Sadhasivam
@tbewley
@ASerbinski

[2019-06-24 15:22] ric96 opened #101 "Meeting: Agenda 24th June 2019"
New Meeting Room: https://zoom.us/j/6199314558 4PM UTC

@mwelling
@ric96
@sdrobertw
@Mani-Sadhasivam
@tbewley
@ASerbinski

[2019-07-08 14:25] ric96 opened #102 "Meeting: Agenda 8th July 2019"
New Meeting Room: https://zoom.us/j/6199314558 4PM UTC

@mwelling
@ric96
@sdrobertw
@Mani-Sadhasivam
@tbewley
@ASerbinski

- Qwiic Mezzanine

[2019-07-08 16:16] ric96 opened #103 "Qwiic Mezzanine"
As Suggested by @ukBaz :
A mezzanine with Qwiic connectors on board.

The following components will be on board.
1: Couple of Qwiic connectors for each i2c bus.
2: Level shifters for the Qwiic connectors.
2. Uart to usb breakout

[2019-07-22 15:44] ric96 opened #104 "Meeting: Agenda 22nd July 2019"
New Meeting Room: https://zoom.us/j/6199314558 4PM UTC

@mwelling
@ric96
@sdrobertw
@Mani-Sadhasivam
@tbewley
@ASerbinski

- @edolnx bmc mezzanine

[2019-07-22 16:24] edolnx commented on #104
Here is the not very good block diagram, real PR with schematics from KiCAD coming soon:
https://docs.google.com/presentation/d/1QWmrCeDlf2ppB9VF9HgMG6vnkkTAB0eYvpYOhqfH8O4/edit?usp=sharing

[2019-07-22 16:25] ric96 opened #105 "Serial Mezzanine v2"
Idea by @edolnx to create a more BMC-like serial mezzanine.

Here is the not very good block diagram, real PR with schematics from KiCAD coming soon:
https://docs.google.com/presentation/d/1QWmrCeDlf2ppB9VF9HgMG6vnkkTAB0eYvpYOhqfH8O4/edit?usp=sharing

[2019-08-05 15:50] ric96 opened #106 "Meeting: Agenda 5th Aug 2019"
New Meeting Room: https://zoom.us/j/6199314558 4PM UTC

@mwelling
@ric96
@sdrobertw
@Mani-Sadhasivam
@tbewley
@ASerbinski

[2019-08-19 15:54] ric96 opened #107 "Meeting: Agenda 5th Aug 2019"
New Meeting Room: https://zoom.us/j/6199314558 4PM UTC

@mwelling
@ric96
@sdrobertw
@Mani-Sadhasivam
@tbewley
@ASerbinski

[2019-09-16 15:47] ric96 opened #108 "Meeting: Agenda 16th Sept 2019"
New Meeting Room: https://zoom.us/j/6199314558 4PM UTC

@mwelling
@ric96
@sdrobertw
@Mani-Sadhasivam
@tbewley
@ASerbinski

[2019-09-16 16:10] Thore-Krug commented on #108
Is the meeting today ?

[2019-09-16 16:17] Mani-Sadhasivam commented on #108
@Thore-Krug Yes, going on currently!

[2019-09-16 16:18] Thore-Krug commented on #108
Dang it

[2019-09-16 16:39] ric96 commented on #103
Level translator for i2c: http://www.ti.com/lit/ds/symlink/tca9509.pdf

[2019-11-25 14:13] #58 closed

[2019-11-25 14:13] #59 closed

[2019-11-25 14:13] #62 closed

[2019-11-25 14:13] #64 closed

[2019-11-25 14:13] #66 closed

[2019-11-25 14:13] #68 closed

[2019-11-25 14:13] #71 closed

[2019-11-25 14:13] #72 closed

[2019-11-25 14:13] #76 closed

[2019-11-25 14:13] #78 closed

[2019-11-25 14:13] #80 closed

[2019-11-25 14:13] #83 closed

[2019-11-25 14:13] #85 closed

[2019-11-25 14:13] #86 closed

[2019-11-25 14:13] #87 closed

[2019-11-25 14:13] #89 closed

[2019-11-25 14:13] #90 closed

[2019-11-25 14:13] #91 closed

[2019-11-25 14:13] #95 closed

[2019-11-25 14:13] #96 closed

[2019-11-25 14:13] #100 closed

[2019-11-25 14:13] #101 closed

[2019-11-25 14:13] #102 closed

[2019-11-25 14:13] #106 closed

[2019-11-25 14:13] #108 closed

[2019-11-25 14:13] #34 closed

[2019-11-25 14:13] #38 closed

[2019-11-25 14:13] #39 closed

[2019-11-25 14:13] #41 closed

[2019-11-25 14:13] #44 closed

[2019-11-25 14:13] #45 closed

[2019-11-25 14:13] #47 closed

[2019-11-25 14:13] #49 closed

[2019-11-25 14:13] #50 closed

[2019-11-25 14:13] #54 closed

[2019-11-25 14:13] #56 closed

[2020-01-10 20:29] gounthar opened #109 "HDMI capture mezzanine using a hdmi to csi bridge"
Would it be possible to create a mezzanine that would give us the ability to capture any up to 1080p HDMI data and presenting it like a camera (CSI) so that its use would be straightforward under Linux?
I am using for the time being an OrangePi RK3399 with a Toshiba chip, but I am considering other options.
On this board, the CSI 1 is disabled when using the HDMI-IN feature.
My goal would be to bu

[2020-02-03 00:26] jveitchmichaelis opened #110 "Footprint for 55510-140LF in Eagle uses dimension layer for outline"
The footprint for the low speed connector in Eagle currently uses the dimension layer to indicate the outline of the part. The dimension layer is used to control the dimension of the _PCB_ and this causes all sorts of problems like not being able to route between pins and other DRC errors.

These lines should be changed to something like the `tPlace` layer with an additional `tDocu` outline.

Curr

[2020-02-25 01:30] #110 closed

[2020-03-30 16:52] ric96 opened #112 "Type-C Portability Mezzanie"
The idea is to crate a mezzanine that will allow us to power and control a CE board via a host laptop/computer using a single USB Type-C Cable, this include power as well.

Design Considerations:
1) Power: Provided that the host system has a PD capable type-c port, we can provide 9-15v to the SYS_DCIN pins on the low speed header
2) UART: A simple usb to uart FTDI chip should suffice
3) Networking

[2020-03-30 17:12] EstevesDouglas commented on #112
Do you have part number Type-C?

[2020-03-30 17:20] ric96 commented on #112
http://www.ti.com/lit/ds/symlink/tps65987d.pdf
@EstevesDouglas

[2020-03-30 17:59] Thore-Krug commented on #112
Another USB PD IC

The Question here is if a good Supply-chain can be established for this Part.
[IP2721.pdf](https://github.com/96boards/mezzanine-community/files/4404568/IP2721.pdf)

[2020-10-29 20:04] Thore-Krug commented on #112
LCSC is now selling the IP2721 PD IC.

[2020-10-29 20:14] Thore-Krug opened #113 "Open the Eagle Template in older Version creates Errors"
Opening the Eagle Template in a older Version ( 6/7) results in the following non-critical Errors

[code]

I am still able to edit and work with these files.

[2020-10-29 20:34] Thore-Krug commented on #105
The CP2108 IC has I2C which is the Interface used by the INA260 Current sensor, but i dont know how difficult it would be to implement. But it would save on space, Hardware-complexity and Bom Cost.

[2020-11-02 07:44] Thore-Krug commented on #105
The Datasheet of the CP2108 is conflicting about the Io Voltage.  There was a Discussion about the that on the silicon Labs as well: https://www.silabs.com/community/interface/forum.topic.html/can_vio_of_cp2108be-KHYX

Which states that the CP2018 dos NOT Support 1.8V Voltage.  so it might be necessary to choose another IC. I wonder if there are people who used the IC out of spec with 1.8V.

Ping:

[2020-11-02 20:06] mwelling commented on #105
CP2103 maybe?

[2020-11-02 20:09] mwelling commented on #105
Looks like CP2103 is NRND. How about CP2105?

https://www.silabs.com/documents/public/data-sheets/CP2105.pdf

[2020-11-02 21:50] mwelling commented on #105
Wait we need 3 UARTs looking at the block diagram. Hmmmm.

[2020-11-02 21:55] mwelling commented on #105
USB replace the attiny with a USB capable microcontroller and pass UART through?

[2020-11-02 22:57] Thore-Krug commented on #105
Or a level shifter IC ? Like on the I2S Mezzanine ?!

[2020-11-02 23:02] mwelling commented on #105
That could work.

[2020-11-04 08:59] Thore-Krug opened #115 "How to handle Kicad Project Files?"
Opening up the Kicad Template files requires me to convert them into the current fileformat used by Kicad and also makes it necessary for for other Users to use that exact or more recent version of Kicad used to open these Files. Thus require users to potentially setup the newer version of kicad which is a disadvantage.  How should we handle the Template file for Kicad? Create a Legacy folder and

[2021-06-24 17:22] #53 closed

[2021-06-24 17:29] mwelling commented on #53
Thanks @jveitchmichaelis !